RewriteEngine On
RewriteBase /task-manager-api/

# Redireciona tudo para index.php, exceto arquivos e pastas reais
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L]
